Html Webpack Plugin:<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve 'C:\Users\Administrator.PC-201608  19SENW\Desktop\JOB\index.html' in 'C:\Users\Administrator.PC-20160819SENW\Desk  top\JOB\thinkjs-vue-spa-admin':
  Error: Can't resolve 'C:\Users\Administrator.PC-20160819SENW\Desktop\JOB\index  .html' in 'C:\Users\Administrator.PC-20160819SENW\Desktop\JOB\thinkjs-vue-spa-  admin'
  
  - compiler.js:76 
    [webpack]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:280 Compiler.<anonymous>
    [webpack]/[webpack]/lib/Compiler.js:280:10
  
  - Compiler.js:480 
    [webpack]/[webpack]/lib/Compiler.js:480:13
  
  - Tapable.js:138 next
    [webpack]/[tapable]/lib/Tapable.js:138:11
  
  - CachePlugin.js:62 Compiler.<anonymous>
    [webpack]/[webpack]/lib/CachePlugin.js:62:5
  
  - Tapable.js:142 Compiler.applyPluginsAsyncSeries
    [webpack]/[tapable]/lib/Tapable.js:142:13
  
  - Compiler.js:477 
    [webpack]/[webpack]/lib/Compiler.js:477:10
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [webpack]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:640 self.applyPluginsAsync.err
    [webpack]/[webpack]/lib/Compilation.js:640:19
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [webpack]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:631 self.applyPluginsAsync.err
    [webpack]/[webpack]/lib/Compilation.js:631:11
  
  - Tapable.js:138 next
    [webpack]/[tapable]/lib/Tapable.js:138:11
  
  - UglifyJsPlugin.js:140 Compilation.compilation.plugin
    [webpack]/[webpack]/lib/optimize/UglifyJsPlugin.js:140:5
  
  - Tapable.js:142 Compilation.applyPluginsAsyncSeries
    [webpack]/[tapable]/lib/Tapable.js:142:13
  
  - Compilation.js:626 self.applyPluginsAsync.err
    [webpack]/[webpack]/lib/Compilation.js:626:10
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [webpack]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:622 sealPart2
    [webpack]/[webpack]/lib/Compilation.js:622:9
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [webpack]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:570 Compilation.seal
    [webpack]/[webpack]/lib/Compilation.js:570:8
  
  - Compiler.js:474 
    [webpack]/[webpack]/lib/Compiler.js:474:16
  
  - Tapable.js:225 
    [webpack]/[tapable]/lib/Tapable.js:225:11
  
  - Compilation.js:472 _addModuleChain
    [webpack]/[webpack]/lib/Compilation.js:472:11
  
</anonymous></anonymous></pre>